<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>JS-Pass</title>
    <!-- store files local -->
    <script src="FileSaver.min.js"></script>
    <script src="Blob.js"></script>
    <!-- angularjs -->
    <script src="angular.min.js"></script>
</head>
<body ng-app="jsPass">
    <div ng-controller="KeysView">
        <lu>
            <li ng-click="show('generate_key')">Generate Key</li>
            <li ng-click="show('private_key')">Private Key</li>
            <li ng-click="show('public_key')">Public Key</li>
        </lu>
        <div>
            <div ng-show="view == 'generate_key'">
                <form name="generate_key_form">
                    <h2>Generate Key</h2>
                    <label for="generate_key_name">Name: </label><input type="text" id="generate_key_name" ng-model="name" required /><br/>
                    <label for="generate_key_mail">E-Mail: </label><input type="email" id="generate_key_mail" ng-model="email" /><br/>
                    <label for="generate_key_password">Password: </label><input type="password" id="generate_key_password" ng-model="password" /><br/>
                    {{ user() }} <br />
                    <button ng-click="generate_key()">Generate Key Pair</button>
                </form>
            </div>
            <div ng-show="view == 'private_key' || view == 'public_key'">
                <h2>{{ key_title }}</h2>
                <textarea style="width: 560px;height: 200px;" ng-model="key" ng-blur="store_key()"></textarea>
                <p>
                    <a href="#" ng-click="key_download()">Download</a>,
                    Upload: <input type="file" onchange="angular.element(this).scope().upload_key(this);" name="file" />
                </p>
            </div>
        </div>
    </div>
    <div ng-controller="DecrypedView">
        <label for="decrypt_password">Password: </label><input type="password" id="decrypt_password" ng-model="password" /><br/>
        <div><input ng-model="new_item"> <button ng-click="add_item()">Add</button></div>
        <lu>
            <li ng-repeat="item in items" ng-click="load(item)">{{ item.name }}</li>
        </lu>
        <textarea ng-model="content" style="width: 560px;height: 200px;" ng-blur="store()"></textarea><br />
        <button ng-click="store()">store</button>
    </div>

    <script src="./jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./openpgp.js" type="text/javascript" charset="utf-8"></script>
    <script src="./example.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>